

.container{
  display: flex;
  /*display: none;*/
  flex-direction: column;
  /*border: 2px solid black;*/
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}

.layer{
    display: none;
    width: 100%;
    height: 1000px;
    position: absolute;
    top:0;
    z-index: 1000;
    background-color:rgba(20,20,20,0.5);
}

.remove-layer{
    position: fixed;
    right: 40px;
    top:80px;
    /*float: right;*/
    color:white;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 20px 0 0;
}


#select-project{
    margin:30px 0 0 90px;
}

.list-group a{
    cursor: pointer;
}

.select-project{
    display: none;
    /*width: 300px;*/
    /*height: 300px;*/
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1001;
}
.formHolder{
    position: absolute;
    left:460px;
    width: 300px;
    padding: 30px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
    border-radius: 6px;
    z-index: 1001;
    background: white;
}

.id{
    display: none;
}

.phase2,.phase3,.phase4{
    display: none;
    margin-bottom: 100px;
}
button{
    outline: 0 !important;
    /*border: none !important;*/
    -moz-outline-style: none !important;
}


.alert{
  font-size: 14px;
  text-align: center !important;
}

/*phase1*/

/*side-nav*/
.sidebar{
    text-align: left;
    height: 300px;
    width: 200px;
    list-style: none;
    margin-left: 60px;
    margin-top: 30px;
    position: relative;
    /*border: 2px solid black;*/

}

/*due-date*/


.due-date{
    margin-top: 10px;
    margin-left:60px;
    margin-bottom: 50px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#due-date2, #due-date1{
    margin-top: 50px;
}

.due-date ul{
    list-style: none;
    padding: 0;
}
.due-date li{
    border-top: 1px solid #ddd;
    padding: 10px 15px;
}
.due-date>.title{
    height: 40px;
    background: rgb(55,123,181);
    color: white;
    text-align: center;
    padding-top: 10px;
}

.due-date li>.content{
    color: #245853;
}
.due-date li>.date{
    color: #777;
    text-align: right;
}



.sidenav_group{
  /*border: 2px solid black;*/
	display: flex;
	justify-content: space-between;
	align-content:center;
    margin: 30px 20px 200px 20px;
	margin-top: 30px;
    margin-bottom: 200px;

}

.right-wrapper{
    width: 70%;
	margin-left: 10px;
    padding-top: 20px;
    padding-left:50px;
    padding-right: 50px;
	display: flex;
	flex-direction: column;
     align-items: center;
	justify-content: space-between;
    position: relative;
}

/*note-reminder*/
.notes-wrapper {
    display: none;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    z-index: 999;
    padding-bottom: 20px;
}

.tag{
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  border: 1px solid black;
  padding: 1px 2px;
  border-radius: 3px;
  cursor: pointer;
}


.notes-wrapper .title {
    background-color: rgb(55,123,181);
    padding: 18px 30px;
    padding-right: 60px;
    color: white;
    font-size: 18px;
    font-family:'Source Sans Pro';
    position: relative;
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.notes-wrapper .content {
    padding: 10px 30px;
    padding-bottom: 15px;
    font-weight: 400;
    color: #666D82;
    line-height: 1.4;
    font-size: 14px;
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.new_note{
    display: none;
    /*border: 2px solid black;*/
    width: 100%;
    text-align: center;
    /*position: absolute;*/
    top: 30px;
    left: 68px;
    font-size: 20px;
}


.notes-wrapper .line{
  position: absolute;
  right: 10px;
  bottom: 20px;
  height: 10px;
  color: #666D82;
}

.new_note label{
    margin-bottom: 15px;
    font-weight: 400;
}

.new-reminder-msg{
  margin-bottom: 20px;
}
.new_reminder{
    align-self: flex-start;
    width: 43%;
    padding: 15px 30px 15px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
}

.new_reminder .alert{
    position: absolute;
    height: 35px;
    top: 10px;
    left: 45px;
    padding: 5px 8px;
    box-shadow: 0 0 black;
}

.task-select{
  margin-right: 10%;
}
.task-select, .group-select{
  width: 40%;
  display: inline-block;
  margin-bottom: 20px;
}



.all-reminders{
   align-self: flex-start;
    margin-left: 80px;
    margin-bottom: 50px;
    width: 350px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


/*#due-date2, #due-date1{
    margin-top: 50px;
}*/

.all-reminders ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0 !important;
}
.all-reminders li{
    display: block;
    position: relative;
    border-top: 1px solid #ddd;
    padding: 10px 15px 5px 15px;
}
.all-reminders .title{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    background: rgb(55,123,181);
    color: white;
    text-align: center;
    padding: 5px 5px;
    font-size: 18px;
}

.all-reminders li{
    font-size: 14px;
    color: #666D82;
    text-align: left;
    height: auto;
}
.all-reminders li .content{
  padding:10px;
  /* Center Div */
  display:block;
  margin: 0 auto;
  word-break:break-all;
}
/*.all-reminders li .content .text{*/
   /**/
/*}*/


.delete-reminder{
  position: absolute;
  right: 5px;
  top: -1px;
  cursor: pointer;;
}

.delete-reminder i{
    color:#dc3545;
}

.all-reminders li>.date{
    font-size: 12px;
    display: inline-block;
    color: #777;
    text-align: right;
}
.all-reminders li>.task{
  margin-top: 30px;
  font-size: 12px;
  display: inline-block;
  text-align: left;
  width: 63%;
  overflow: hidden;
}


/*group*/
.group-info{
    width: 80%;
    display: none;
    border-radius: 3px;
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    padding-bottom: 30px;
}

.group-info-title{
    padding-top: 7px;
    text-align: center;
    border-radius: 4px 4px 0 0;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 40px;
    background-color: #377bb5;
}

.group-options {
    font-family: "Gotham SSm A","Gotham SSm B",​sans-serif;
    padding-top: 30px;
    text-align: center;
    font-weight: 600;
}

.question{
    font-weight: 600;
}

.group-options button{
    margin: 0 auto;
}

.two-options{
    font-family: "Gotham SSm A","Gotham SSm B",​sans-serif;
    text-align: left;
    margin-left: 38%;
}

.two-options label{
    font-weight: normal;
    text-align: left;
    margin-left: 20px;
    font-family: "Gotham SSm A","Gotham SSm B",​sans-serif;
}

.group_container{
    display: none;
    width: 100%;
    align-content: center;

    -webkit-box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
}

.group_container h1{
    text-align: center;
}
.group-info .group-size{
    width: 30%;
    text-align: center;
    margin: 0 35% 20px 35%;
}

.group-info .group-size input{
    padding-left: 30%;
    height: 25px;
}

.group-info .group-size input::placeholder{
    font-weight: 400;
}


/*deadline*/

.deadline-container{
  position: relative;
}

.deadline_view{
    display: none;
    width: 420px;
    height: 155px;
    position: absolute;
    top:30px;
    left: 100px;
}

.deadline_view .alert{
        position: absolute;
    top: -20px;
    padding: 8px;
    left: 30px;
    width: 250px;
}

.deadline-select{
  display: inline-block;
  height: 30px !important;
  width: 70%;
}

.others-deadline{
    display: none;
    position: absolute;
    width: 70%;
    top: 88px;
    left: 350px;
}

.deadline-btn{
  margin-top: 30px;
}





/*documents*/

.documents{
    display: none;
    width: 80%;
    margin-bottom: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.documents .table{
    margin-bottom: 0 !important;
}
.documents .table>thead>tr>th{
    border-bottom: none !important;
    font-weight: 500;
}

.mark-doc{
    width: 100%;
}



.upload-files{
    width: 80%;
    display: none;
    padding: 10px 25px;
    margin-bottom: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}
.upload-files .upload-files-header{
    color: #245853;
    text-align: center;
}

.upload-selector{
  margin-bottom: 20px;
}

/*phase2*/

.phase2{
    display: none;
}









/*  $Loader 
    ========================================================================== */
.loaders {
  font-family: sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 9999;
  height: 1200px;
  width: 100%;
  padding-top: 300px;
  /*background-color: #2d95bf;*/
  background-color:rgba(20,20,20,0.5);
/*  opacity: 0.8;*/
}

.loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

/*  $Loader Quadrant
    ========================================================================== */
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/*  $Loader spin
    ========================================================================== */



@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    tranform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    tranform: rotate(-360deg);
  }
}


/*chat bot*/

.live-chat a { text-decoration: none; }

.live-chat fieldset {
  border: 0;
  margin-left: 30px !important;
  padding: 0;
}

.live-chat h4, .live-chat h5 {
  line-height: 1.5em;
  margin: 0;
}

.live-chat hr {
  background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

.live-chat img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

.live-chat input {
  border: 0;
  color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

.live-chat p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- mark ---------- */

.mark-container{
    display: none;
    position: relative;
    width: 80%;
    /*height: 80%;*/
    margin: 0 10%;
    padding: 20px 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}



.mark-container select{
    margin-bottom: 20px;
    width: 70%;
}



.mark-container input{
        margin-bottom: 50px;
        width: 50%;
        display:inline-block;
}


.mark-container .button{
   padding-left: 20%;
    display:inline-block;

}

.mark-container .select-group-task{
    position: absolute;
    right: 20px;
    top: 160px;
}

#select-task-distribution{
    width: 50% !important;
    margin: 20px 0;
    text-align: left;
}

/* ---------- LIVE-CHAT ---------- */

#live-chat {
  /*display: none;*/
  bottom: 0;
  font-size: 12px;
  right: 24px;
  position: fixed;
  width: 300px;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#live-chat header {
  background: rgb(55,123,181);
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 10px 24px;
}

#live-chat h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#live-chat h4 {
  font-size: 14px;
}

#live-chat h5 {
  font-size: 10px;
}

#live-chat form {
  padding: 24px;
}

#live-chat input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  width: 234px;
}

.chat-message-counter {
  background: #e62727;
  border: 1px solid #fff;
  border-radius: 50%;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  left: 0;
  line-height: 28px;
  margin: -15px 0 0 -15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28px;
}

.chat-close {
  background: #e62740;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: right;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  margin: 2px 0 0 0;
  text-align: center;
  width: 16px;
}

.chat {
  background: #fff;
}

.chat-history {
  height: 252px;
  padding: 8px 24px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.chat-message {
  margin: 16px 0;
}

.chat-message img {
  border-radius: 50%;
  float: left;
}

.chat-message-content {
  /*margin-left: 10px;*/
}

.chat-time {
  float: right;
  font-size: 10px;
}

.chat-feedback {
  font-style: italic; 
  margin: 0 0 0 80px;
}
