.welcome-page{
    display: flex;
    flex-direction: column;
}
.welcome{
    /*position: absolute;*/
    /*top:50%;*/
    /*left:50%;*/
    padding: 48px 100px;
}
.jumbotron{
    padding: 48px 60px !important;
    border-radius: 6px;
}

/*login-signup*/

.layer{
    display: none;
    width: 100%;
    height: 1000px;
    position: absolute;
    top:0;
    z-index: 1000;
    background-color:rgba(20,20,20,0.5);
}

.remove-layer{
    position: fixed;
    right: 40px;
    top:80px;
    /*float: right;*/
    color:white;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 20px 0 0;
}

.login-signup{
    display: none;
    /*width: 300px;*/
    /*height: 300px;*/
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1001;
}

.formHolder{
    position: absolute;
    left:460px;
    width: 300px;
    padding: 30px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
    border-radius: 6px;
    z-index: 1001;
    background: white;
}

.formHolder h3 {
    margin: 0 0 20px 0;
    font-size: 19px;
    font-weight: 600;
}

#user-type{
    background-color: #f2f2f2;
    height: 25px;
}

.signup{
    display: none;
}

.loginButton,.newAccButton{
    outline: none !important;
}

.alert{
    margin-top: 15px !important;
}












