<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
 <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" type="text/css" href="../static/css/lecturer/header-timeline.css">
<body>
	<div class="welcome-page">
      <nav class="header">
          <div class="home">
              <a href="lecturer.html">Home</a>
          </div>
          <div class="log-in">Login</div>
      </nav>
      <div class="welcome">
          <div class="jumbotron">
              <h1 class="display-4">Welcome to comp9323!</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
          </div>
      </div>
      <!--<div class="welcome">Welcome to COMP9323</div>-->
  </div>

<!--login-signup-->

  <div class="login-signup">

      <div class="formHolder login">
          <h3>Login</h3>
          <div class="form-group">
              <input type="text" class="form-control simplebox"  placeholder="Email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control simplebox"  placeholder="Password">
          </div>
          <button type="submit" id="loginButton" class="btn btn-sm btn-default simplebutton loginButton">Login</button><button type="submit" class="btn btn-sm btn-link newAccButton" id="showSignUp">Don't have an account?</button>
      </div>
      <div class="formHolder signup">
          <h3>Sign Up</h3>
          <div class="form-group">
              <input type="text" class="form-control simplebox signup-email" placeholder="Email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control simplebox signup-password"  placeholder="Password">
          </div>
          <div class="form-group">
              <input type="password" class="form-control simplebox"  placeholder="Confirm Password">
          </div>
          <select name="user-type" id="user-type" placeholder="USER TYPE">
                <option value="" hidden="">USER TYPE</option>
                <option value="student">STUDENT</option>
                <option value="lecturer">LECTURER</option>
          </select><br><br>
          <button type="submit" id="signupButton" class="btn btn-sm btn-default simplebutton newAccButton">Sign Up</button><button type="submit" class="btn btn-sm btn-link loginButton" id="showLogin">Already have an account?</button>
      </div>
  </div>
<div class="layer">
    <div class="glyphicon glyphicon-remove remove-layer"></div>
</div>
<script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
<script  src="../static/js/index.js"></script>
 <!-- <script type="text/javascript" src="../static/js/lecturer/header-timeline.js"></script> -->
</body>
</html>