<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Lecturer</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
 <!--  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <!--<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->
  <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
  <link rel='stylesheet' href='http://cdn.rawgit.com/m-e-conroy/angular-dialog-service/v4.2.0/dialogs.min.css'>
  <link rel="stylesheet" href="../static/css/lecturer/lecturer.css">
  <link rel="stylesheet" href="../static/css/lecturer/shadow.css">
  <link rel="stylesheet" type="text/css" href="../static/css/lecturer/header-timeline.css">
</head>

<body>

  <div class='container'>
<!-- header-timeline -->
    <section class="loaders"><span class="loader loader-quart"> </span> Loading...</section>
      <div id="header-timeline">
        <nav class="header">
              <div class="home">
                  <a href="lecturer.html">Home</a>
              </div>
              <div class="welcome-user"></div>
              <div class="user">
                  <i class="fas fa-user-alt"></i>
                  <div class="dropdown-content">
                      <a href="/profile" id="profile">My Profile</a>
                      <a href="#">Notifications</a>
                      <a href="#">Settings</a>
                      <a href="index.html" id="logout">Logout</a>
                  </div>
              </div>
          </nav>

        <div >
                <ul class="timeline " id="timeline">
                    <li class="tl_li complete" id='phase-1'>
                        <div class="phase">
                            <h4>Phase 1</h4>
                            <!-- <span class="date">Project scoping<span> -->
                        </div>
                        <div class="phase_descpt">
                            <h4>Project Scoping & Group forming</h4>

                        </div>
                    </li>

                    <li class="tl_li" id='phase-2'>
                        <div class="phase">
                            <h4>Phase 2</h4>
                            <!-- <span class="date">Requirements & design<span> -->
                        </div>
                        <div class="phase_descpt">
                            <h4>Requirement document & Design document</h4>
                        </div>
                    </li>

                    <li class="tl_li" id='phase-3'>
                        <div class="phase">
                            <h4>Phase 3</h4>
                            <!-- <span class="date">Software prototyping and implementation<span> -->
                        </div>
                        <div class="phase_descpt">
                            <h4>Software prototyping & Implementation</h4>
                        </div>
                    </li>

                    <li class="tl_li" id='phase-4'>
                        <div class="phase" >
                            <h4>Phase 4</h4>
                            <!-- <span class="date">implementation / testing / documentation (version2)<span> -->
                        </div>
                        <div class="phase_descpt">
                            <h4>Implementation & Testing & Documentation</h4>
                        </div>
                    </li>
                </ul>
            </div>
      </div>


<!-- phase1 -->
      <div class="phase1">
        <div class="sidenav_group drop-shadow-nav-grp curved.v2">
          <div class="left-wrapper">
                    <div class="sidebar-offcanvas sidebar">
                      <div class="list-group">
                        <a href="#" class="list-group-item active">Phase 1</a>
                        <a href="#" class="list-group-item navgrp">Group</a>
                        <a href="#" class="list-group-item reminder">Reminder</a>
                        <a href="#" class="list-group-item deadline">Deadline</a>
                        <a href="#" class="list-group-item upload">Resources</a>
                      </div>
                    </div>
           </div>

          <div class="right-wrapper">
  <!--file input-->

           <div class="documenets">
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th class="col-sm-1">DOCUMENTS</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>Doc1</td>
                      <td>Test Product 4</td>
                      <td align="right"><a href="../temp/phase_1.pdf" target="_blank" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-file"></span><span class="hidden-xs files"> View</span></a></td>
                  </tr>
                  <tr>
                      <td>Doc1</td>
                      <td>Test Product 4</td>
                      <td align="right"><a href="" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-file"></span><span class="hidden-xs"> View</span></a></td>
                  </tr>
                  </tbody>
              </table>
           </div>


          <div class="upload-files ">
              <div class="alert alert-success" role="alert" style="display:none;"></div>
              <div  class="alert alert-danger" role="alert" style="display:none;"></div>
              <div class="upload-files-header"><h4 >Upload Files</h4></div>
               <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-header text-muted"></span></span>
                      <input type="text" class="form-control phase1-title" placeholder="Title">
                  </div>
                  <br>
                  <textarea class="form-control" rows="5" id="phase1-description" placeholder="Description"></textarea><br>
                <select class="form-control upload-selector">
                          <option value=""hidden>Phase</option>
                                  <option>Phase 1</option>
                                  <option>Phase 2</option>
                                  <option>Phase 3</option>
                                  <option>Phase 4</option>                 
                </select>

              <form method="POST"  action="#" enctype="multipart/form-data">
                 
                  <!-- COMPONENT START -->
                  <div class="form-group" id="phase1-file">
                      <div class="input-group input-file" name="Fichier1">
                          <input type="text"  class="form-control" placeholder='Choose a file...' />
                          <span class="input-group-btn">
                        <button class="btn btn-default btn-choose" type="button">Choose</button>
                    </span>

                      </div>
                  </div>
                  <!-- COMPONENT END -->
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary pull-right phase1-upload">Submit</button>
                      <button type="reset" class="btn btn-danger">Reset</button>
                  </div>
              </form>
          </div>
  <!-- notes -->
            <div class="notes-wrapper">
            <div class="saver-wrap" contenteditable="false">
              <div class="notes-dot" contenteditable="false"></div>
              <div class="rest" contenteditable="false"></div>
            </div>
            <div class="title" contenteditable="true">
              Reminder
            </div>
            <div class="content" contenteditable="true" onpaste="OnPaste_StripFormatting(this, event);">
                Dear students,
                Welcome to COMP9323. I would like to inform you of the details of the introductory session to explain project, assessments, etc:
                Date: Tuesday, July 24th, 2018
                Venue: Colombo LG02 (K-B16-LG02)
                Time: 18h00 to 19h00
                See you all there.
            </div>
            <div class="line"><span class="daypass"></span> days ago</div>
          </div>


<!-- create new reminder -->
            <div class="new_note" >
                <div class="form-group new_reminder">
                      <div class="alert alert-success" role="alert" style="display:none;"></div>
                      <div class="alert alert-danger" role="alert" style="display:none;"></div>
                          <label >New Reminder</label>
                          <textarea class="form-control new-reminder-msg" rows="5" id="comment"></textarea>
                      <select class="form-control" id="task-select">
                        <option value=""hidden>Task</option>
                        <option>Proposal</option>
                        <option>Design document</option>
                        <option>Requirement document</option>
                        <option>Implementation</option>
                        <option>Demo</option>
                        <option>Others</option>
                      </select>
                      <select class="form-control" id="group-select">
                        <option value=""hidden>Group Type</option>
                        <option>All groups</option>
                        <option>Unsubmitted groups</option>
                      </select>
                     <button type="button" class="btn btn-info">Submit</button>
                  </div>
                  <div class="all-reminders" >
                      <div class="title">All Reminders</div>
                        <ul class="reminder-list">
                            <li >
                                <div class="group-popup-close"><i class="fas fa-backspace "></i></div>
                                <div class="content">Proposal</div>
                                <div class="task">Task: <span id="task-name">Proposal</span></div>
                                 <div class="date"><span class="due">2</span></div>
                            </li>
                      </ul>
                  </div>


            </div>

           <br><br><br><br>
<!-- Deadline -->

            <div class="deadline_view" style="display: none;">
              <div class="container deadline-container" ng-app="modalTest" ng-controller="dialogTestCtrl">
                      <div  class="alert alert-success" role="alert" style="display:none;"></div>
                      <div class="alert alert-danger" role="alert" style="display:none;"></div>
                      <div class="row">
                        <div class="col-md-12">
                          <h1>Please pick a deadline.</h1>
                          <br>
                        </div>
                      </div>
                      <div class="deadline-select">
                      <select class="form-control deadline-selector">
                          <option value=""hidden>Options</option>
                                  <option>Phase 1</option>
                                  <option>Phase 2</option>
                                  <option>Phase 3</option>
                                  <option>Phase 4</option>
                                  <option>Proposal</option>
                                  <option>Design document</option>
                                  <option>Requirement document</option>
                                  <option>Implementation</option>
                                  <option>Demo</option>
                                  <option>Others</option>
                      </select>
                      </div>
                      <input class="form-control others-deadline" type="text" placeholder="Others">
                      <div class="row deadline-btn">
                        <div class="col-md-6">
                          <button class="btn btn-primary" ng-click="launch()">Deadline</button>
                        </div>
                        <div class="col-md-6">
                          <button class="btn btn-primary saveDeadline" ">Save</button>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-12">
                          <br/>
                          <p>Date Picked: <span class="text-info">{{data.dt | date:'fullDate' }}</span></p>
                        </div>
                      </div>
                    </div>
                    <script
                        src="https://code.jquery.com/jquery-3.3.1.min.js"
                        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                        crossorigin="anonymous"></script>
                    <script src='http://code.angularjs.org/1.2.16/angular.min.js'></script>
                    <script src='http://code.angularjs.org/1.2.16/angular-sanitize.min.js'></script>
                    <script src='http://cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.0.1/angular-translate.min.js'></script>
                    <script src='http://rawgithub.com/m-e-conroy/angular-dialog-service/v4.2.0/example/js/ui-bootstrap-tpls-0.11.0.min.js'></script>
                    <script src='http://rawgithub.com/m-e-conroy/angular-dialog-service/v4.2.0/dialogs.min.js'></script>
            </div>

<!-- group  -->
          <div class="group-info drop-shadow-nav-grp curved.v2">
            <div class="group-info-title"> Group Forming</div>
                <div class="group-options">
                      <h4 class="question">How would you like to generate the groups?</h4>
                <div class="two-options">
                      <input type="checkbox" name="Randomly" class="generate-group"><label>Randomly Generate</label> <br>
                      <input type="checkbox" name="Manually" class="generate-group"><label>Manually Generate</label>   <br><br>
                      </div>
                      <button type="button" class="btn btn-success">Submit</button>
            
                </div>
          </div>
          <br>
          <div class="group_container drop-shadow-group lifted" >
            <br>


          </div>
      </div>
      </div>
      </div>

<!--phase2-->
      <div class="phase2">
          <div class="sidenav_group drop-shadow-nav-grp curved.v2">
              <div class="left-wrapper">
                  <div class="sidebar-offcanvas sidebar">
                      <div class="list-group">
                          <a href="#" class="list-group-item active">Phase 2</a>
                          <a href="#" class="list-group-item navgrp">Group</a>
                          <a href="#" class="list-group-item reminder">Reminder</a>
                          <a href="#" class="list-group-item deadline">Deadline</a>
                          <a href="#" class="list-group-item upload">Resources</a>
                      </div>
                  </div>
              </div>

          </div>
      </div>

</div>
<!-- <div class="layer">
    <div class="glyphicon glyphicon-remove remove-layer"></div>
</div> -->
  <script type="text/javascript" src="../static/js/lecturer/header-timeline.js"></script>
  <script  src="../static/js/lecturer/deadline.js"></script>
  <script  src="../static/js/lecturer/lecturer.js"></script>
</body>

</html>
