<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/lecturer/profile.css">
</head>


<body>

<div class="container">
    <div class="save"><button class="btn btn-primary" id="save"><span class="glyphicon glyphicon-floppy-saved"></span> Save</button>
    </div>
    <div class="leftbox">
        <nav>
            <a id="profile" class="active"><i class="fa fa-user"></i></a>
            <a id="privacy"><i class="fa fa-tasks"></i></a>
            <a id="settings"><i class="fa fa-cog"></i></a>
        </nav>
    </div>
    <div class="rightbox">
        <div class="profile">
            <h1>Personal Info</h1>
            <h2>Full Name</h2>
            <div class="edit-row"><p id="name">Julie Park</p><span class="update">update</span></div>
            <h2>Birthday</h2>
            <div class="edit-row"><p id='dob'>July 21</p><span class="update">update</span></div>
            <h2>Gender</h2>
            <div class="edit-row"><p id='gender'>Female</p><span class="update">update</span></div>
            <h2>Github</h2>
            <div class="edit-row"><p id='github'>example@example.com</p><span class="update">update</span></div>
            <h2>Password </h2>
            <div class="edit-row"><p id='password'>•••••••</p><span class="update">change</span></div>
        </div>


    </div>
</div>

<script src="../static/js/lecturer/profile.js"></script>


</body>
</html>