.container{
  display: flex;
  flex-direction: column;
  /*border: 2px solid black;*/
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.sidenav_group{
  /*border: 2px solid black;*/
	display: flex;
	justify-content: space-between;
	align-content:center;
	margin-top: 30px;
}

.group-reminder{
  width: 70%;
	margin-left: 10px;
  padding-top: 20px;
  padding-left:50px;
  padding-right: 50px;
	/*border: 2px solid black;*/
	display: flex;
	flex-direction: column;
  align-items: center;
	justify-content: space-between;
    position: relative;
}


.documenets{
    display: none;
    width: 80%;
    margin-bottom: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.documenets .table{
    margin-bottom: 0 !important;
}
.documenets .table>thead>tr>th{
    border-bottom: none !important;
    font-weight: 500;
}



.upload-files{
    width: 80%;
    display: none;
    padding: 5px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.upload-files .upload-files-header{
    color: #245853;
    text-align: center;
}