.container{
    display: flex;
    /*border: 2px solid black;*/
    width: 96% !important;
    height: 100%;
    margin-top:40px;
}

/*side-nav*/

.side_nav {
    /*border: 2px solid black;*/
    text-align: left;
    height: 440px;
    width: 234px;
    list-style: none;
    margin-left: 60px;
    margin-top: 30px;
    padding: 0px;
    position: relative;
    -webkit-box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
}

.side_nav li{
    font-family: "Gotham SSm A","Gotham SSm B",​sans-serif;
}
.side_nav > li {
    width:210px;
    background: #FFFFFF;
    display: block;
    font-size: 14px;
    padding: 15px 5px 15px 15px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #DCDCDC;
}

.side_nav > li:hover {
    background: #E6E6E6;
    color: #1B75C4;
}

.side_nav > li:nth-child(-n+3){
    border-left: 4px solid #FFC50A;
}

.side_nav > li:nth-child(-n+3):hover{
    border-left: 4px solid #cc9e08;
}

.side_nav > li:nth-child(n+4){
    border-left: 4px solid #74BF44;
}

.side_nav > li:nth-child(n+4):hover{
    border-left: 4px solid #5d9936;
}

.side_nav > li:nth-child(n+7) {
    border-left: 4px solid #0097D1;
}

.side_nav > li:nth-child(n+7):hover {
    border-left: 4px solid #0079a7;
}

.arrow {
    float: right;
    padding: 0px 10px
}

.side_nav > li > ul {
    border: 1px solid #CCCCCC;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 234px;
    width: 503px;
    padding: 10px 0px 20px 20px;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
}

.side_nav > li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.side_nav > li > ul > li {
    position: relative;
    width: 145px;
    padding: 0;
    display: inline-block;
    margin-right: 20px;
    color: #555;
    cursor:default;
    font-weight: 300;
    vertical-align: top;
}

.side_nav > li > ul > li > ul {
    list-style: none;
    padding: 0px !important;
    vertical-align: top;
}

.side_nav > li > ul > li > ul > li {
    margin-bottom: 7px;
}


#sidebar{
    text-align: left;
    height: 300px;
    width: 200px;
    list-style: none;
    margin-left: 60px;
    margin-top: 30px;
    position: relative;
    /*border: 2px solid black;*/

}
.file-input{
    width:50%;
    margin: 50px 0 0 150px;
}

.design{
    display: none;
}