.add-group{
  display: none;
}
.add-group-btn{
  color: #337ab7;
  cursor: pointer;
  position: absolute;
  right: 40px;
  display: block;
}
.add-group-btn:hover{
  color: #2e6da4;
}


.group-info{
height: 250px;
width: 100%;
display: none;
border-radius: 3px;
display: none;
/*border: 2px solid black;*/
}

.group-info-title{
padding-top: 7px;
text-align: center;
border-radius: 4px 4px 0 0;
color: white;
font-size: 18px;
width: 100%;
height: 40px;
background-color: #377bb5;
/*border: 2px solid black;*/
}

.group-options {
  font-family: "Gotham SSm A","Gotham SSm B",​sans-serif;
  padding-top: 30px;
  text-align: center;
  font-weight: 600;
}
.group-name{
   margin: 20px 0 10px 50px;
  /*color:#1B75C4;*/
}
.group-name span{
  margin-left: 20px;
  font-size: 18px;
  font-weight: 400;
}

.group-wrapper{
  display: flex;
}
.members{
  width: 40%;
  margin: 10px 0 0 50px;
}
.members li>div{
  display: inline-block;
  width: 120px;
}
.group-topic{
  width: 40%;
  margin-top: 10px;
}

.all-groups{
  display: none;
  width: 100%;
  /*padding: 3%;*/
  padding-bottom: 5%;
  margin-bottom: 20px;
}
.all-groups-title{
  padding-top: 7px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  color: white;
  font-size: 18px;
  width: 100%;
  height: 40px;
  background-color: #377bb5;

}

.all-groups ul{
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/
  /*padding: 0;*/
  /*height: 1000px;*/
  list-style: none;
  padding: 2.5%;
  margin-top: 10px;

}
.all-groups li{
  width: 50%;
  /*margin-left: 2%;*/
  float: left;
  /*height: 100px;*/
  border: 1px solid rgb(221,221,221);
  position: relative;
  margin-right: -1px;
  margin-bottom: -1px;
}
.all-groups li .title{
  padding-left: 20px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #2e6da4;
  cursor: pointer;
}
.all-groups li .description{
  font-size: 14px;
  padding-left: 40px;
  height: 60px;
}
.all-groups li .num-members{
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 11px;
}
.all-groups li .join{
  position: absolute;
  right: 20px;
  top: 30px;
  width: 50px;
  height: 22px;
  background:rgb(55,123,181);
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 0.2em;
}




.group-options button{
  margin: 0 auto;
}

.two-options{
  font-family: "Gotham SSm A","Gotham SSm B",​sans-serif;
  text-align: left;
  padding-left: 220px;

}
.two-options label{
font-weight: normal;
text-align: left;
margin-left: 20px;
font-family: "Gotham SSm A","Gotham SSm B",​sans-serif;
}



.group_container{
  /*border: 2px solid black;*/
  /*padding-top: 100px;*/
  display: none;
  width: 100%;
  align-content: center;

  -webkit-box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
}

.group_container h1{
  text-align: center;
}


.panel-body textarea,
.panel-body textarea:focus {
  border: none;
  box-shadow: none;
  padding: 0;
  outline: none;
  /*overflow: scroll-x;*/
  resize: none;
  min-height: 80px;
}

h1, h2 {
  margin: 0;
}

.lead {
  color: #999;
  margin-top: 10px;
  margin-bottom: 60px;
}

.tab-content {
  padding-top: 15px;
}

.well-xs {
  padding-bottom: 4px;
}

.navbar-toggle {
  border: 1px solid #ccc;
  padding: 7px 11px;
  margin-right: 0;
}

.navbar-collapse .row {
  margin: 0 -30px;
}

select.form-control.disabled {
  color: #b0b0b0;
}

.text-muted {
  color: #888;
}

.input-group select.form-control {
  -webkit-appearance: none;
}

/*group-popup*/

.group-popup{
  display: none;
  position: absolute;
  top:350px;
  z-index: 5;
  padding:0;
  width: 60%;
  height: 220px;
  color:black;
}
.group-popup .group-popup-close{
  color:rgb(55,123,181) ;
  display: inline-block;
  font-size: 18px;
  margin-left: 94%;
  cursor: pointer;
}

.group-popup>.group-name{
  text-align: center;
  font-size: 19px;
  margin: 0;
  font-weight: 400;
  color: #245853;
  /*display:inline-block;*/
  width: 100%;
}

.group-popup-wrapper {
  margin: 16px 0 10px 40px;
}
.group-popup-wrapper .title{
  font-weight: 500;
}