/*welcome page*/

.welcome-page{
    display: flex;
    flex-direction: column;
}
.welcome{
    padding: 48px 100px;
}
.jumbotron{
    padding: 48px 60px !important;
    border-radius: 6px;
}

/*login-signup*/

.layer{
    display: none;
    width: 100%;
    height: 1000px;
    position: absolute;
    top:0;
    z-index: 1000;
    background-color:rgba(20,20,20,0.5);
}

.remove-layer{
    position: fixed;
    right: 40px;
    top:80px;
    color:white;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 20px 0 0;
}

.login-signup{
    display: none;
    /*width: 300px;*/
    /*height: 300px;*/
    position: fixed;
    top: 200px;
    left: 0;
    z-index: 1001;
}

.formHolder{
    position: absolute;
    left:460px;
    width: 300px;
    padding: 30px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
    border-radius: 6px;
    z-index: 1001;
    background: white;
}

.formHolder h3 {
    margin: 0 0 20px 0;
    font-size: 19px;
    font-weight: 600;
}

.signup{
    display: none;
}

.loginButton,.newAccButton{
    outline: none !important;
}



.container{
  display: flex;
  /*display: none;*/
  flex-direction: column;
  /*border: 2px solid black;*/
  width: 100%;
  height: 100%;
  margin: 0!important;
  padding: 0!important;
}

/*phase1*/

.phase1{
    margin-bottom: 200px;
}

/*side-nar*/
.left-wrapper>.sidebar {
    text-align: left;
    height: 200px;
    width: 200px;
    list-style: none;
    margin-left: 60px;
    margin-top: 30px;
    position: relative;
}

.sidenav_group{
  /*border: 2px solid black;*/
	display: flex;
	justify-content: space-between;
	align-content:center;
    margin: 30px 20px 200px 20px;
    padding-bottom: 100px;
    position: relative;
}



.right-wrapper{
  width: 70%;
    margin-left: 10px;
  padding-top: 20px;
  padding-left:50px;
  padding-right: 50px;
	/*border: 2px solid black;*/
	display: flex;
	flex-direction: column;
  align-items: center;
	justify-content: space-between;
    position: relative;
}


/*note*/
.notes-wrapper,.notes-wrapper-2,.notes-wrapper-3,.notes-wrapper-4 {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    z-index: 999;
}

.notes-wrapper .title {
    background-color: rgb(55,123,181);
    padding: 18px 30px;
    padding-right: 60px;
    color: white;
    font-size: 18px;
    font-family:'Source Sans Pro';
    position: relative;
}

.notes-wrapper .content {
    padding: 10px 30px;
    padding-bottom: 15px;
    font-weight: 400;
    color: #666D82;
    line-height: 1.4;
    font-size: 14px;
}

/*due-date*/

.due-date{
    margin-top: 10px;
    margin-left:60px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#due-date2{
    margin-top: 50px;
}

.due-date ul{
    list-style: none;
    padding: 0;
}
.due-date li{
    padding: 10px 15px;
}
.due-date>.title{
    height: 40px;
    background: rgb(55,123,181);
    color: white;
    text-align: center;
    padding-top: 10px;
}

.due-date li>.content{
    color: #245853;
}
.due-date li>.date{
    color: #777;
    text-align: right;
}


/*documents*/

.documents{
    display: none;
    width: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.documents .table{
    margin-bottom: 0 !important;
}
.documents .table>thead>tr>th{
    border-bottom: none !important;
    font-weight: 500;
}

/*phase2*/

.phase2{
    display: none;
    margin-bottom: 100px;
}

.file-input{
    display: none;
    width:70%;
    margin: 50px 0 0 100px;
}

.design{
    display: none;
}

.uuid{
    display: none;
}
